{% extends "base.html" %}
{% load static %}

{% block title %}Делопроизводитель{% endblock %}
{% block body_class %}clerk-workplace-screen{% endblock %}
{% block extra_head %}
{% include "includes/role_app_pwa_head.html" with manifest_url="/clerk/manifest.webmanifest" theme_color="#2E7D52" apple_title="Делопроизводитель" icon_180="img/pwa/clerk-180.png" service_worker_url="/clerk/sw.js" role_code="settlement_clerk" legacy_scope="/clerk/" %}
<link rel="stylesheet" href="{% static 'css/clerk-workplace.css' %}?v={{ static_asset_release }}-clerk-workplace-v1">
<script src="{% static 'js/clerk-workplace-pwa.js' %}?v={{ static_asset_release }}-clerk-workplace-v1" defer></script>
{% block clerk_extra_head %}{% endblock %}
{% endblock %}

{% block body %}
<div class="admin-shell admin-exports-shell clerk-workplace-shell admin-day {% block clerk_shell_class %}{% endblock %}"
     data-admin-theme
     {% block clerk_shell_attributes %}{% endblock %}>
    {% include "includes/clerk_workplace_header.html" %}
    {% block clerk_content %}{% endblock %}
</div>
{% block clerk_scripts %}{% endblock %}
{% endblock %}
