DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_SECURE_PROXY_SSL_HEADER=False
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False
DJANGO_DB_ENGINE=sqlite

# Для локального старта пока используется SQLite.
# Целевая база для нормальной эксплуатации: PostgreSQL.
# Для сервера:
# DJANGO_DEBUG=False
# DJANGO_ALLOWED_HOSTS=82.38.40.17,localhost,127.0.0.1
# DJANGO_CSRF_TRUSTED_ORIGINS=http://82.38.40.17
# DJANGO_SECURE_PROXY_SSL_HEADER=True
# DJANGO_SECURE_SSL_REDIRECT=True
# DJANGO_SESSION_COOKIE_SECURE=True
# DJANGO_CSRF_COOKIE_SECURE=True
# DJANGO_DB_ENGINE=postgres
# POSTGRES_DB=accounting_mvp
# POSTGRES_USER=accounting_mvp
# POSTGRES_PASSWORD=replace-me
# POSTGRES_HOST=127.0.0.1
# POSTGRES_PORT=5432
# POSTGRES_CONN_MAX_AGE=60
