bind 127.0.0.1
protected-mode yes
port 6381
daemonize no
supervised systemd
pidfile /run/sse-qa-redis/redis.pid
dir /srv/sse-qa/redis
dbfilename dump.rdb
save ""
appendonly no
maxmemory 64mb
maxmemory-policy noeviction
maxclients 32
timeout 0
tcp-keepalive 30
aclfile /etc/sse-qa/redis.acl
loglevel notice
logfile /srv/sse-qa/log/redis.log
